body{
    font-family: 'Montserrat', sans-serif;
}

#firstrow {
    display: flex;
    width: 100%;
    height: 590px;
    margin-top: 39px;
    justify-content: space-between;
}

#firstrow>#picdiv {
    width: 40%;
    position: relative;
    background-color: #e9e4e0;
    height: 100%;
}

#firstrow>#picdiv>#img {
    width: 100%;
    position: absolute;
    left: 15%;
    top: 5%;
    height: 90%;
    object-fit: cover;
}

#firstrow>#txtdiv {
    height: max-content;
    width: 45%;
}

#firstrow>#txtdiv p {
    line-height: 1.6;
}
#firstrow>#txtdiv #logo {
    justify-content: flex-end;
    width: 200px;
    height: 200px;
    display: flex;
    width: 90%;
}
#logoimg{
    width: 35%;
    height: 100%;
}
#abouttxt{
    width: 72%;
    font-size: 19px;
    text-align: justify;
}

#hello-text {
  color: #000000;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.red-bold-small {
  font-weight: bold;
  color: #da2326;
}

.helping {
    width: 100%;
    background-color: #e9e4e0;
    height: max-content;
    margin: 0 auto;
    margin-top: 60px;
}

.helping h1 {
    text-align: center;
    padding: 35px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.helping div.check {
    width: 88%;
    margin: 0 auto
}
div.check p{
    font-size: 22px;
}
#mainhelp{
    display: flex;
    justify-content: space-between;
}
#mainhelp img{
    height: 108%;
    width: 20%;
    align-self: center;
}
#mainhelp #leftimg{
margin-left: 26px;
}
#mainhelp #rightimg{
    margin-right: 26px;
}
.helping p {
    line-height: 1.8;
    display: inline-flex;
    width: 94%;
}

.components {
    height: max-content;
    width: 100%;
    margin: 0 auto;
    background-color: #e9e4e0;
    margin-top: 50px;
}

.components h1 {
    text-align: center;
    padding: 35px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.components hr {
    width: 171px;
}

.components>div>div.single {
    height: 65%;
    width: 32%;
    background-color: white;
    margin-bottom: 35px;
    padding-bottom: 15px;
}

.single p.title {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding: 10px;
}

.single>div {
    width: 100%;
    height: 600px;
}

.single>div>.singleimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.single p {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 20px;
    padding: 16px;
}

.single p a {
    padding: 14px !important;
    font-weight: bold !important;
    font-size: 15px !important;
    background-color: #e9e4e0;
    border: 0px;
    color: black;
    margin-bottom: 17px;
    text-decoration: none;
}

.single p button:hover {
    background-color: #c5c1bd;
    cursor: pointer;
}


.whatmore {
    width: 100%;
    margin: 0 auto;
    background-color: #eceae8;
    margin-top: 50px;
}

.whatmore h1 {
    text-align: center;
    padding: 35px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.whatmore hr {
    width: 171px;
}
#title{
    text-align:center;
    font-size: 18px;
    letter-spacing: 2px;
}
.inputs{
    width: 31%;
    margin: 0 auto;
    padding-bottom: 50px;
 }
 .inputs h2{
    text-align: center;
    margin-top: 40px;
 }
 .inputs a{
    padding: 16px;
    background-color: #444;
    color: #eceae8;
    text-decoration: none;
    letter-spacing: 2px;

 }
 /*
.inputs input{
    height: 48px;
    width: 38%;
}
#submitbutton{
    width: 21%;
} */
